<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example_collection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Example_Collection">
        <activity android:name=".RecycleView.RecycleViewActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Basic.IntentActivitySub"
            android:parentActivityName=".Basic.IntentActivity" />
        <activity
            android:name=".Basic.IntentActivity"
            android:parentActivityName=".MainActivity" /> <!-- 添加向上导航功能 -->
        <activity
            android:name=".Basic.ButtonActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListView.ListViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>